.board {
  background-color: darkslategrey;
  display: inline-block;
}

.board .row {
  height: 30px;
  white-space: nowrap;
}

.board .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border-style: solid;
  border-width: 0px;

  background-color: white;
}

.board .overlay {
  display: inline-block;
  width: 30px;
  height: 30px;
}
